<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
{#What chat room would you like to enter?<br>#}
{#<input id="room-name-input" type="text" <siz></siz>e="100"><br>#}
{#<input id="key-input" type="text" size="100"><br>#}
{#<input id="room-name-submit" type="button" value="Enter">#}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="h4 pt-5">Enter Room Name:</label>
                </div>
                <div class="form-group">
                    <input class="form-control" id="room-name-input" type="text"></br>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="h4 pt-5">Enter AES Key:</label>
                </div>
                <div class="form-group">
                    <input class="form-control" id="key-input" type="text"></br>
                </div>
                <div class="form-group">
                    <input class="btn btn-secondary btn-lg btn-block" id="room-name-submit" type="button" value="Enter">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>